* {
    margin:  1%;
    background-color: azure;    
}
.floatleft {
    float: left;

} 

.floatright {
    float: right;
}

.floatleft div {
    display: inline-block;
    float: left;
    width: 300px;
    border: dashed black;
}

.floatleft img {
    width: 295px;
}

nav {
    
    clear: both;
}

.overflowover {
    width: 300px;
    height: 430px;
    overflow: auto;
}